#!/usr/bin/env bash

# alpaca trading vars
export APCA_API_BASE_URL=https://paper-api.alpaca.markets
export APCA_API_DATA_URL=https://data.alpaca.markets	
export APCA_API_KEY_ID=xxxxxxxxxxxxxxxxx
export APCA_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export APCA_API_VERSION=v2
export APCA_RETRY_MAX=3
export APCA_RETRY_WAIT=3
export APCA_RETRY_CODES=429,504
export DATA_PROXY_WS

## postgres vars
export DB_HOST='localhost'
export DB_USER='pytrader'
export DB_PASS='password'
export DB_NAME='trader'

## flask vars
export FLASK_ENV=development
export FLASK_CFG=config.DevelopmentConfig
export SQLALCHEMY_DATABASE_URI="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}"
export SQLALCHEMY_TRACK_MODIFICATIONS=False

