#!/usr/bin/env bash

# alpaca trading vars
export APCA_API_BASE_URL=https://paper-api.alpaca.markets
export APCA_API_DATA_URL=https://data.alpaca.markets
export APCA_API_KEY_ID=xxxxxxxxxxxxxxxxx
export APCA_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export APCA_API_VERSION=v2
export APCA_RETRY_MAX=3
export APCA_RETRY_WAIT=3
export APCA_RETRY_CODES=429,504
export DATA_PROXY_WS

# coinbasepro
export COINBASEPRO_API_KEY_ID=365664e43a16374bb474b77f3014b512
export COINBASEPRO_API_SECRET_KEY=E1pkM+7x8LWUf6F20+R61edoTtFU2aqSQYR1BszZIlp9czx+JE/VF5iEdZjqQU0+lyvImTEM2MtillqNlE7kPg==
export COINBASEPRO_API_PASSWORD=xxxxxxxxxx

# cryptowatch
export CRYPTOWATCH_API_KEY_ID=xxxxxxxxxxxxxxxxx
export CRYPTOWATCH_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export CRYPTOWATCH_API_URL=https://api.cryptowat.ch
export CRYPTOWATCH_API_STREAM_URL=https://stream.cryptowat.ch

## postgres vars
export DB_HOST='localhost'
export DB_USER='pytrader'
export DB_PASS='password'
export DB_NAME='trader'

## flask vars
export FLASK_ENV=development
export FLASK_CFG=config.DevelopmentConfig
export SQLALCHEMY_DATABASE_URI="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}"
export SQLALCHEMY_TRACK_MODIFICATIONS=False

# IEX api
export IEX_API_KEY_ID=Tpk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export IEX_API_SECRET_KEY=Tsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export IEX_API_DATA_URL=https://sandbox.iexapis.com
export IEX_API_VERSION=v1

# smtp config
export SMTP_HOST='smtp.gmail.com'
export SMTP_PASS=xxxxxxxxxxxxxxxxxxxxxxxx
export SMTP_PORT=587
export SMTP_USER=xxxxxxxxxxxxxxxxxxxxxxxx
export SMTP_SEND_FROM=xxxxxxxxxxxxxxxxxxxxxxxx
export SMTP_SEND_TO='["email@example.com"]' # write as list

